@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


/* 
font-family: 'Source Sans Pro', sans-serif;
*/

/* 
color:#d44735
*/

/* root styling */


html{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* header styling */


.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}

.nav-brand{
    align-self: center;
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 19px;
    margin: 12px;
    color: #d44735;
}

.nav-link:hover{
    color: #ffff;
}

.container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    color: #d44735;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;

}

/* Media Query */
@media(max-width:574px){
    .toggle-button{
        display: initial;
    }

    .collapse{
        overflow: hidden;
        max-height: 0;
        transition: all 0.8s cubic-bezier(1,0,0,1);
    }

    .collapse .nav-link{
        display: block;
        text-align: center;
    }

    .collapse-toggle{
        max-height: 500px;
    }

}

@media(max-width:992px){
    .navbar{
        flex-direction: column;
    }
}